{% extends 'base.html' %} {% block title %} Animal Facts {% endblock %} {% block
content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
	<fieldset>
		<legend>Your Info:</legend>

		<label>
			Which animal do you want facts on?
			<select name="animal" multiple>
				{% for animal in animals %}
				<option value="{{animal}}">{{animal}}</option>
				{% endfor %}
			</select>
		</label>

		<input type="submit" value="Get Fact!" />
	</fieldset>
</form>

<section id="form_results">
	<p>Here is your animal fact:</p>
	<dl>
		{% if chosen_animal %} {% for animal in chosen_animal%}
		<dt><b>{{ animal }}</b></dt>
		{% for fact, content in animal_fact[animal].items() %}
		<dd>- {{ fact }} : {{ content }}</dd>
		{% endfor %} {% endfor %}{% endif %}
	</dl>
</section>

{% endblock %}
