{% extends 'base.html' %} {% block title %} Animal Facts {% endblock %} {% block
content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
	<fieldset>
		<legend>Your Info:</legend>

		<label>
			Which animal do you want facts on?
			<select name="animal">
				{% for animal in animals %}
				<option value="{{animal}}">{{animal}}</option>
				{% endfor %}
			</select>
		</label>

		<input type="submit" value="Get Fact!" />
	</fieldset>
</form>

<section id="form_results">
	<p>Here is your animal fact:</p>
	<p>
		{% if chosen_animal %}
		<h4>Chosen Animal: <em>{{ chosen_animal }}</em></h4>
		<em>{{ animal_fact }}</em>
		{% endif %}
	</p>
</section>

{% endblock %}
