{% extends 'base.html' %} {% block title %} Image Filtering {% endblock %} {%
block content %}
<h1>Image Filtering</h1>
<form action="/image_filter" method="POST" enctype="multipart/form-data">
	<fieldset>
		<legend>Your Info:</legend>

		<p>
			<label>
				Upload a file here (of file type .png, .jpeg, or .gif):

				<input
					type="file"
					name="users_image"
					accept="image/png, image/jpeg, image/gif"
				/>
			</label>
		</p>
		<p>
			<label>
				Select your filter:

				<select name="filter_type">
					{% for filter in filter_types %}
					<option value="{{filter}}">{{ filter }}</option>
					{% endfor %}
				</select>
			</label>
		</p>

		<input type="submit" value="Filter My Image!" />
	</fieldset>
</form>

{% if image_url %}
<section id="form_results">
	<p>Here is your filtered image:</p>
	<p>
		{% if image_url %}
		<img src="{{image_url}}" alt="filtered-img" />
		{% endif %}
	</p>
</section>
{% endif %} {% endblock %}
